/* Ketika Lebar Layar Dibawah 768px */
@media screen and (max-width: 768px) {
  body {
    font-size: 0.8em;
  }

  nav {
    justify-content: space-between;
  }

  nav h1 {
    /* width: 40%; */
    padding: 0;
    width: fit-content;
  }

  main div.hero_text h1 {
    font-size: 4em;
  }

  main div.hero_text h2 {
    font-size: 2em;
  }

  section.projects
    .projects_container
    .projects_list
    .project
    .project_fig_container
    .project_fig {
    width: 150px;
  }

  section.projects .projects_container .projects_list .project {
    margin-inline: 0.5rem;
  }

  section.contact .contact_container .input input {
    width: 100%;
  }

  section.contact .contact_container form button {
    width: 50%;
  }
}

/* Ketika Lebar Layar Dibawah 550px */
@media screen and (max-width: 550px) {
  nav {
    justify-content: space-between;
  }

  nav h1 {
    /* width: 80%; */
    /* background-color: red; */
    text-align: center;
  }

  nav ul {
    display: none;
  }

  nav span.hamburger_icon {
    display: inline;
  }

  main div.hero_text {
    width: 100%;
  }

  main div.hero_text h1 {
    font-size: 3em;
  }

  main div.hero_text h2 {
    font-size: 2em;
  }

  section.about div.about_container h1 {
    text-align: center;
  }

  section.about div.about_container {
    width: 100%;
    text-align: justify;
  }

  section.projects .projects_container .projects_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  section.projects .projects_container .projects_list .project {
    margin-block: 1rem;
  }

  section.contact .contact_container form button {
    width: 80%;
  }

  footer .footer_container {
    flex-direction: column;
    text-align: center;
  }

  footer .footer_container ul {
    width: 100%;
  }
}
